
.App {
  margin-left: 2em;
}

.newGameButton {
  width: 10em;
  height: 3em;
}

.Tile {
  width: 100px;
  height: 100px;
  font-size: 25pt;
  border: 2px solid #aaa;
  text-align: center;
  margin: 10px;
  padding: 10px;
  float: left;
  cursor: pointer;
}

.parentTile {
  margin-top: 1em;
  width: 450px;
}

.levelInput {
  width: 50px;
  height: 25px;
  resize: none;
}